
@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Rowdies&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Love+Light&family=Rowdies&family=Ubuntu:wght@300&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies';
}
body{
    background: #091921;
}

.calendar{
    padding: 20px 40px;
}

.months-container{

    gap: 40px;
    justify-content: center;
    
}

.calendar .months-container .month-container{
    padding: 20px;
    min-width: 280px;
    box-shadow:  10px 10px 20px rgba(226, 35, 163, 0.15),5px 5px 10px rgba(255, 255, 255, 0.15);
}

.calendar table.month th.month-title{
    color: #f75c90;
    font-size: 2em;
    font-weight: 200;
    font-family: 'Dancing Script', cursive;

}
table.month td:first-child,
table.month td:last-child,
table.month thead tr:nth-child(2) th:first-child,
table.month thead tr:nth-child(2) th:Last-child
{
    color: #f75c90;
}

.calendar table.month td.day .day-content
{
    padding: 6px 8px;
    
}

.calendar table.month th.day-header{
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    font-weight: 700;

}

.month tr td{
    font-size: 0.9em;
    font-weight: 500;
    color: #777;
}

table.month td.day .day-content:hover{
    background: #ffffff;
    color: rgb(15, 15, 15);
    transition: 0.1s;
    

}

.calendar .calendar-header{
    border: none;
}
.calendar .calendar-header table th:hover{
    background: transparent;

}

.calendar .calendar-header .year-title{
    font-size: 3.5em;
    color: #f75c90;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 10px rgb(0, 0, 0, 0.25);
}

.calendar .calendar-header .year-neighbor{

    font-size: 2.25em;


}

.calendar .calendar-header .year-neighbor2{
    font-size: 1em;

}